div {
    background-color:black;
}
h1 {
    font-family:'Montserrat', sans-serif;
    font-size:120px;
    color:blue
}
#Claudia {
    color:green
}
    
#p {
    font-family:'Montserrat', sans-serif;
    font-size:48px;
    color:black
}

#DesarrolladoraFronted  {
    color:brown;
    font-size:48px;
}
#mamá {
    color:red;
    font-size:48px;
}
#escritora {
    color:aqua;
    font-size:48px;
}