body {
    background-color: blanchedalmond;
}
#p1 {
    text-align:left;
}
#p2 {
    text-align: center;
}
#p3 {
    text-align:right;
}
#p4 {
    text-align:center;
}
#p5 {
    text-align:left;
}
#p6 {
    text-align:center;
}
#p7 {
    text-align:center;
}
#p8 {
    text-align:left;
}
#p9 {
    text-align:left;
}
#p10 {
    text-align:right;
}
#p11 {
    text-align:right;
}