body {
    background-color: azure;
}
H1 {
    font-family: 'Zen Antique', serif;
}
ul {
    font-size:larger;
}
#Baja {
    background-color:#002B5B;
}
#B1 {
    background-color:#2B4865;
}
#B2 {
    background-color:#256D85;
}
#B3 {
    background-color:#8FE3CF;
}
#B4 {
    background-color:#B1E1FF;
}
#B5 {
    background-color:#AFB4FF;
}
#B6 {
    background-color:#A66CFF;
}
#B7 {
    background-color:#5800FF;
}
#B8 {
    background-color:#371B58;
}
#B9 {
    background-color:#5D1451;
}
#Alta {
      background-color:#950101;
}