body {
    background-color: beige;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:blue
}
p {
    color: gray;
    font-size:85%;
}
#Hecho {
    color:green;
}
#Pendiente {
    color:blue;
}
#Haciendo {
    color: orangered;
}
#Cancelado {
    color:red;
}