body {
    background-color: antiquewhite;
    font-size: 100px;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25%;
}
#luz1 {
      background-color:#8EC3B0;
}
#luz2 {
      background-color: #BCEAD5;
}
#luz3 {
      background-color: #8D9EFF;
}
#luz4 {
      background-color: #9F73AB;
}
#luz5 {
      background-color: #9F73AB;
}
#rgb6 {
      background-color:rgb(45, 45, 223);
}
#rgb7 {
      background-color:rgb(32, 32, 83);
      color:white
}
#rgb8 {
      background-color:rgb(41, 41, 197);
}
#rgb9 {
      background-color:rgb(70, 70, 234);
}
#rgb10 {
      background-color: rgb(45, 45, 170);
}
#hsl1 {
      background-color:#1b7732
}
#hsl2 {
      background-color: #45B561;
}
#hsl3 {
      background-color: #53DB75;
}
#hsl4 {
      background-color: #5DF583;
}
#hsl5 {
      background-color: #14361D;
}