body {
    background-color:beige;
 }
#🌳 {
   font-size: 1em;
}
#🌲 {
    font-size: 2em;
}
#🌴 {
    font-size: 3em;
}
#🏡 {
    font-size: 4em;
}
#🏚️ {
    font-size: 1em;
}
#🏢  {
    font-size: 2em;
}
#🏥 {
    font-size: 3.5em;
}
#🏘️ {
    font-size: 5em;
}